.not_found{
    width: 100vw;
    height: 100vh;
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.not_found_body{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    gap: 10px;
    text-align: center;
    background-color: white;
    align-items: center;
    margin: 0 auto;

}

.not_found_body button{
    background-color: #0433d4;
    border: none;
    color: white;
    padding: 12px 15px;
    font-size: 17px;
}

.not_found_body h1{
    font-size: 7rem;
    color: #aaa;
}