.notific_wrapper{
    position: absolute;
    top: 50px;
    left: -160px;
    background-color: white;
    color: black;
    width: 320px;
    max-height: 50vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
    min-height: 40px;
}

.notific_unread{
    position: absolute;
    top: 50px;
    left: -160px;
    background-color: rgb(221, 221, 221);
    color: black;
    width: 320px;
    max-height: 50vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
    min-height: 40px;
}

.notific_card{
    display: flex;
    gap: 5px;
    /* flex-direction: column; */
    padding: 15px;
    border-bottom: 1px solid #aaaaaa;
  
}

.unread_card{
    display: flex;
    gap: 5px;
    /* flex-direction: column; */
    padding: 15px;
    border-bottom: 1px solid #aaaaaa;
    background-color: rgb(221, 221, 221);
}

.notific_photo{
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
}

.btns_actions_to{
    display: flex;
    gap: 5px;
}

/* .btns_actions_to button{
    
    
} */

.btn_unread{
    padding: 5px;
    background-color: red;
    color: white;
    font-size: 15px;
    border: none;
    margin-top: 10px;
}

.btn_read{
    padding: 5px;
    /* background-color: red; */
    color: #aaa;
    font-size: 15px;
    border: none;
    margin-top: 10px;
}

.no_not{
    padding: 10px;
    font-size: 17px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}