.spinner{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}
.spinner .circle{
    position: absolute;
    width: 170px;
    height: 170px;
    background-color: rgba(75,75,75,0.9);
    color: white;
    border: 10px solid #242e2e;
    border-radius: 50%;
    text-align: center;
    line-height: 145px;
}

.spinner .circle > label{
    font-size: 25px;
}

.spinner .circle::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    border: 10px solid transparent;
    border-top: 10px solid #008080;
    border-right:10px solid #008080 ;
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}