.form_container{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    padding: 5px;
    min-height: 50px;
    position: relative;
    /* border: 1px solid red; */
}

.attach_wrapper{
    position: absolute;
    bottom: 50px;
    width: 95%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    background: white;
    border-radius: 11px;   
    padding: 20px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid #aaa;

}

.attach_items{
    display: flex;
    justify-content: space-between;
}

.attach_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn_attach{
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #aaa;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;
}

.attach_btns{
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #aaa;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.form_outer{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 7px;
    background-color: white;
    border-radius: 15px;
    
    
}

.send_input{
    width: 100%;
}

.btn_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.send_input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 17px;
}

.form_inner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 7px;
}

button:disabled{
    cursor: not-allowed;
    background-color: #aaa;
    color: #555;
}


.image_selected{
     position: fixed;
    width: 100vw;
    height: 200vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 500;
    padding-top: 10%;
    margin-left: -1.2%;
}

.doc_selected_action{
    padding: 20px;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
    width: 95%;
}

.selected_files_actions{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.selected_files_actions button{
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: #3266f8;
    font-weight: 600;
}

.selected_image{
    margin-top: -100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selected_image img{
    width: 100%;
}

.selected_image_action{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.image_selected_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.image_captioned{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px;
}

.image_captioned input{
    width: 100%;
    padding: 8px 12px;
    font-size: 1.1rem;
    border-radius: 25px;
    border: none;
    outline: none;
}


.progress-bar{
    /* padding: 10px; */
    height: 2px;
    background-color: white;
}

.display_image_outer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.disply_image_top{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.display_image_body{
    width: 100%;
}

.display_image_body img{
    width: 100%;
    margin-top: -200px;
}