.account_wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    color: black !important;
    background-color: aliceblue;
}
.account_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.account_menu{
    max-width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid  rgb(221, 221, 221);
    width: fit-content;
    margin: 0 auto;
    overflow-y: scroll;
}

.account_menu span{
    margin: 5px;
    background-color: rgb(221, 221, 221);
    padding: 5px;
}

.account_photo{
    width: 50px;
}

.account_photo img{
    width: 100%;
}

.account_home_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 45vw);
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.home_card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}