.btn-lang{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 6px;
    gap: 0.9vw;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 15px;
}
nav{
    padding: 1.2vh;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0d42d5 !important;
    /* position: relative; */
}

.btn-menu{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 6px;
    gap: 5px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    font-size: 15px;
}

.btn-clear{
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    height: 22px;
    width: 22px;
    background-color: #7b9dfa;
    border-radius: 50%;
}
.app-nav-left{
    display: flex;
    gap: 12px;
}

.app_menu_outer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.app_menu{
    height: 95vh;
    width: 90vw;
    background-color: #0d42d5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.app_menu_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.username_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4d72d6;
    border-radius: 5px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.username_photo{
    width: 35px;
    height: 35px;
}

.app_menu_lists{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    width: 100%;
    /* border: 1px solid red; */
}

.app_menu_list_item{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 10px;
    font-size: 17px;
    min-height: 2vh;
}

.btn_logout{
    padding: 12px 15px;
    border: none;
    background-color: #062374;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 15px;
}

.qr_code{
    width: 150px;
    margin: 0 auto;
}

.img_code{
    width: 100%;
}

.user_icon{
    font-size: 85px;
    background: #062374;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.notific_app{
    position: relative;
}

.btn_notific{
    font-size: 35px;
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span_notific{
    position: absolute;
    top: -7px;
    right: 1px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.notific_update{
    width: 230px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: auto;
    position: absolute;
    left: -70px;
    top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
   
    
}

.noticif_items_wrapper{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 7px;
    color: black;
    max-height: 100px;   
    gap: 8px;
}

.notific_heading{
    padding: 5px;
    border-bottom: 1px solid #aaaaaa;
    color: black;
    font-size: 17px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notific_item{   
    font-size: 17px;
    
}